html
head
    title FrontEnd_Test
    link(rel='stylesheet' href='css/main.css')
    link(rel='stylesheet' href='css/slide.css')
    link(rel='stylesheet' href='css/mini-slide.css')
    link(rel='stylesheet' href='css/medium-slide.css')
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    script(src="js/plugin_slides.js")

body
    div(class='header')
        img(src='logo.jpg' id='logo' alt='logo-page')
        div(id='search')
            input(type='button' id='btn-search' value='')
            input(type='text' id='text-search' placeholder='Search')
        div(id='language')
            each lang in ['vietnames.png', 'english.png', 'korea.png']
                a(href='#')
                    img(src=lang)
        
    nav(class='navbar')
        ul
            each menu in ['ABOUT US', 'SERVICES', 'NEWS & ENVENT', 'GALLERY', 'CONTACT US', 'FAQs']
                li
                    a(href='#')=menu
    
    div(class='slideshow')
        div(class='slide-body')
            div(class='slide-item')
                div(class='slide-img')
                    img(src='img3.jpg')
                div(class='slide-img')
                    img(src='img1.jpg')
                div(class='slide-img')
                    img(src='img2.jpg')
                div(class='slide-img')
                    img(src='img0.jpg')
            div(class='slide-content')
                div(class='slide-cont')
                    p Slide 4
                div(class='slide-cont')
                    p Slide 3
                div(class='slide-cont')
                    p Slide 2
                div(class='slide-cont')
                    p Slide 1

    div(class='content')
        div(class='top-content')
            div(id='title')
                h1 Welcome to our Web site!
            div(id='cont')
                p We recommend that you check out the tic-tac-toe game before continuing with the tutorial. One of the features that you’ll notice is that there is a numbered list to the right of the game’s board. This list gives you a history of all of the moves that have occurred in the game, and is updated as the game progresses. You can close the tic-tac-toe game once you’re familiar with it. We’ll be starting from a simpler template in this tutorial. Our next step is to set you up so that you can start building the game...
                    a(href='#') View more
            div(class='mini-slide')
                div(class='mini-slide-body')
                    div(class='mini-slide-item')
                        div(class='mini-slide-img')
                            img(src='img3.jpg')
                        div(class='mini-slide-img')
                            img(src='img1.jpg')
                        div(class='mini-slide-img')
                            img(src='img2.jpg')
                        div(class='mini-slide-img')
                            img(src='img0.jpg')
        div(class='left-content')
            div(id='title')
                h2 NEWS & ENVENT
                    a(href='#') View more
            div(class='top-news')
                img(src='img2.jpg')
                div(class='news-title')
                    a(href='#') We recommend that you check out the..
                        p 08/08/2018
                    p One of the features that you’ll notice is that there is a numbered list to the right of the game’s board...
            div(class='old-news')
                div(class='news-title')
                    a(href='#') We recommend that you check out the..
                        p 08/08/2018
                    p One of the features that you’ll notice is that there is a numbered list to the right of the game’s board. One of...
                div(class='news-title')
                    a(href='#') We recommend that you check out the..
                        p 08/08/2018
                    p One of the features that you’ll notice is that there is a numbered list to the right of the game’s board. One of...
        div(class='right-content')
            div(id='title')
                h2 PARTNERS
            div(class='medium-slide')
                div(class='medium-slide-body')
                    div(class='medium-slide-item')
                        div(class='medium-slide-img')
                            img(src='img3.jpg')
                        div(class='medium-slide-img')
                            img(src='img1.jpg')
                        div(class='medium-slide-img')
                            img(src='img2.jpg')
                        div(class='medium-slide-img')
                            img(src='img0.jpg')
    footer(class='footer')
        div(id='contact')
            h3 CONTACT US
            strong Address:
            p Truong Quoc Dung Street, Ward 10 , Phu Nhuan District, Ho Chi Minh City
            strong Tel:
            p +84145873458
            strong Fax:
            p +84874358374
            strong Email:
            p ngochuy.78py@gmail.com
        div(id='quick-links')
            h3 QUICK LINKS
            a(href='#') Contact Us
            a(href='#') LastestNews
            a(href='#') FAQs
            a(href='#') Term & Conditions
            a(href='#') Privacy Policy
        div(id='newsletter')
            h2 NEWS LETTER
            div(id='input-mail')
                input(type='text' id='text-mail' placeholder='Enter email...')
                input(type='button' id='btn-mail' value='Sign Up')
            p