body {
    background-color: #e8e8e8;
    width: 90%;
    margin: 10px auto 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    height: 80px;
    position: relative;
}

#logo {
    height: 80px;
    float: left;
}

#search {
    width: 50%;
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#search #text-search {
    height: 30px;
    width: 40%;
    float: right;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-left: 2px solid #cccccc;
    border-top: 2px solid #cccccc;
    border-bottom: 2px solid #cccccc;
    border-right: 0px;
    padding-left: 10px;
    font-size: 14px;
    transition: width 0.4s ease-in-out;
}

#search #text-search:focus {
    width: 70%;
}

#search #btn-search {
    width: 30px;
    height: 30px;
    float: right;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-image: url('../search.png');
    border-right: 2px solid #cccccc;
    border-top: 2px solid #cccccc;
    border-bottom: 2px solid #cccccc;
    border-left: 2px solid #bcbcbc;
}

#language {
    position: absolute;
    width: 15%;
    top: 50%;
    right: 0%;
    transform: translateY(-50%);
    border-left: 2px solid #848484;
}

#language a {
    margin-left: 10px;
}
.navbar {
    margin: 16px 0 16px 0;
}

.navbar ul {
    background-color: #fc7702;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    padding-left: 0;
    margin: 0;
    background: -moz-linear-gradient(top, #fc7702 30%, #cc6002 70%);
    background: -o-linear-gradient(top, #fc7702 30%, #cc6002 70%);
    background: -ms-linear-gradient(top, #fc7702 30%, #cc6002 70%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0.3, #fc7702),color-stop(0.7, #cc6002));
}
.navbar ul li {
    list-style-type: none;
    float: left;
    width: 16.66667%;
    height: 40px;
    line-height: 40px;
}

.navbar ul li:hover {
    background-color: #f78c2e;
}
.navbar ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.content {
    margin: 16px 0 0 0;
    height: auto;
}

.content .top-content {
    height: auto;
    background-color: #d1d1d1;
    border-radius: 10px;
    position: relative;
}

.content .top-content #title {
    display: inline-block;
    width: 75%;
}
.content .top-content h1 {
    color: #fc7702;
    padding: 10px 0 0 10px;
    margin: 0;
}

.content .top-content #cont {
    width: 75%;
    display: inline-block;
}
.content .top-content p {
    font-size: 14px;
    margin: 0;
    padding: 10px;
    text-align: justify;
}

.content .top-content a {
    display: inline;
    font-size: 14px;
}

.content .left-content {
    background-color: #d1d1d1;
    border-radius: 10px;
    width: 49%;
    height: auto;
    margin-top: 16px;
    display: inline-block;
}

.content .left-content h2 {
    color: #fc7702;
    padding: 10px 0 10px 10px;
    margin: 0;
    border-bottom: 1px solid #a5a5a5;
}

.content .left-content h2 a {
    font-size: 14px;
    float: right;
    padding-right: 10px;
    transform: translateY(50%);
}

.content .left-content .top-news {
    height: auto;
    margin: 16px 10px;
    background-color: #e5e5e5;
    border: 3px double #e0e0e0;
    border-radius: 8px;
    font-size: 14px;
}

.content .left-content .top-news img {
    width: 25%;
    height: 5em;
    margin: 10px;
    float: left;
}

.content .left-content .top-news .news-title {
    margin-top: 10px;
    height: 6em;
}

.content .left-content .top-news .news-title a {
    color: #fc7702;
    font-weight: bold;
    text-decoration: none;
    width: 50%;
    margin: 0;
}

.content .left-content .top-news .news-title :hover {
    font-weight: bold;
}

.content .left-content .top-news .news-title a p {
    color: #666666;
    margin: 0 10px 0 10px;
    display: inline-block;
    float: right;
}

.content .left-content .top-news .news-title p {
    margin: 0 10px 0 10px;
    text-align: justify;
}

.content .left-content .old-news {
    font-size: 14px;
}

.content .left-content .old-news .news-title {
    margin-top: 10px;
    height: 6em;
}

.content .left-content .old-news .news-title a {
    color: #fc7702;
    font-weight: bold;
    text-decoration: none;
    width: 50%;
    margin: 0 0 0 20px;
}

.content .left-content .old-news .news-title :hover {
    font-weight: bold;
}

.content .left-content .old-news .news-title a p {
    color: #666666;
    margin: 0 10px 0 10px;
    display: inline-block;
    float: right;
}

.content .left-content .old-news .news-title p {
    margin: 0 10px 0 20px;
    text-align: justify;
}

.content .right-content {
    background-color: #d1d1d1;
    border-radius: 10px;
    width: 49%;
    height: auto;
    margin-top: 16px;
    float: right;
}

.content .right-content h2 {
    color: #fc7702;
    padding: 10px 0 10px 10px;
    margin: 0;
    border-bottom: 1px solid #a5a5a5;
}

.footer {
    margin: 16px 0 16px 0;
    font-size: 14px;
    background-color: #d1d1d1;
    border-radius: 10px;
}

.footer #contact {
    width: 33.33333%;
    display: inline-block;
}

.footer #contact h3 {
    margin: 10px 0 0 10px;
    padding-bottom: 10px;
    border-right: 2px solid #848484;
}

.footer #contact strong {
    color: #666666;
    float: left;
    margin-left: 10px;
}

.footer #contact p {
    margin: 0 0 0 10px;
    color: #666666;
    border-right: 2px solid #848484;
}

.footer #quick-links {
    width: 33.32%;
    display: inline-block;
}

.footer #quick-links a {
    color: #666666;
    text-decoration: none;
    display: block;
    margin-left: 10px;
    border-right: 2px solid #848484;
}

.footer #quick-links :hover {
    color: black;
}

.footer #quick-links h3 {
    margin: 10px 0 0 10px;
    padding-bottom: 10px;
    border-right: 2px solid #848484;
}

.footer #newsletter {
    width: 33.33333%;
    display: inline-block;
    transform: translateY(-50%);
}

.footer #newsletter h2 {
    margin: 10px 10px 0 10px;
    color: #fc7702;
    font-weight: bold;
}

.footer #newsletter #input-mail {
    margin: 10px 10px 0 10px;
}
.footer #newsletter #text-mail {
    width: 70%;
    height: 30px;
    padding-left: 8px;
    border-radius: 5px;
    border: 2px solid #cccccc;
}

.footer #newsletter #btn-mail {
    width: 25%;
    height: 30px;
    border-radius: 8px;
    float: right;
    background-color: #fc7702;
    background: -moz-linear-gradient(top, #fc7702 30%, #cc6002 70%);
    background: -o-linear-gradient(top, #fc7702 30%, #cc6002 70%);
    background: -ms-linear-gradient(top, #fc7702 30%, #cc6002 70%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0.3, #fc7702),color-stop(0.7, #cc6002));
}