.medium-slide {
    width: 100%;
    font-size: 14px;
}

.medium-slide-body {
    width: 100%;
    height: 80%;
    margin: 5% 0;
}
.medium-slide-item {
    width: 100%;
    height: 100%;
    position: relative;
}

.medium-slide-img {
    margin: 0 5%;
    position: absolute;
    z-index: 1;
    opacity: 1;
}

.medium-slide-img img {
    width: 100%;
    height: 100%;
}

#btn-med-slide-left {
    height: 100%;
    width: 10%;
    border: 0;
    list-style: none outside none;
    position: absolute;
    z-index: 20;
    opacity: 0.3;
    cursor:pointer;
    left: 0;
    background-image: url('../left.jpg');
    display: inline-block;
}

#btn-med-slide-right {
    height: 100%;
    width: 10%;
    border: 0;
    list-style: none outside none;
    position: absolute;
    right: 0;
    z-index: 20;
    opacity: 0.3;
    cursor:pointer;
    background-image: url('../right.jpg');
    display: inline-block;
}