.mini-slide{
    position: absolute;
    height: 100%;
    top: 0;
    width: 20%;
    margin: 0 auto;
    padding: 15px 10px 0 0;
    display: inline-block;
    right: 0;
}

.mini-slide-body {
    height: 100%;
}
.mini-slide-item {
    width: 100%;
    height: 80%;
    position: relative;
}

.mini-slide-img {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    opacity: 1;
}

.mini-slide-img img {
    width: 100%;
    height: 100%;
}

.mini-slide-item ul {
    height: 50px;
    width: auto;
    margin: 0;
    padding: 0;
    right: 0%;
    bottom: 0%;
    position: absolute;
    z-index: 10;
    text-align: center;
}

.mini-control-box {
    list-style: none outside none;
    width: 10px;
    height: 10px;
    margin: 15px 5px;
    float: right;
    background-color: rgb(77, 77, 83);
    border-radius: 50px;
    cursor:pointer;
}

.mini-slide-item ul .focus {
    background-color: #fc7702;
}