.slideshow {
    width: 100%;
    height: 400px;
    margin: 0 auto;
}

.slideshow .slide-body {
    border-radius: 10px;
}

.slideshow .slide-body .slide-item {
    width: 100%;
    height: 350px;
    position: relative;
}

.slideshow .slide-body .slide-item .slide-img {
    width: 100%;
    height: 350px;
    position: absolute;
    z-index: 1;
    opacity: 1;
}

.slideshow .slide-body .slide-item .slide-img img {
    width: 100%;
    height: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.slideshow .slide-body #btn-slide-left {
    height: 100%;
    width: 10%;
    border: 0;
    list-style: none outside none;
    position: absolute;
    z-index: 20;
    opacity: 0.3;
    cursor:pointer;
    left: 0;
    background-image:  url('../left-big.jpg');
    display: inline-block;
}

.slideshow .slide-body #btn-slide-right {
    height: 100%;
    width: 10%;
    border: 0;
    list-style: none outside none;
    position: absolute;
    right: 0;
    z-index: 20;
    opacity: 0.3;
    cursor:pointer;
    background-image:  url('../right-big.jpg');
    display: inline-block;
}

.slideshow .slide-body .slide-content {
    height: 50px;
    background-color: black;
    position: relative;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.slideshow .slide-body .slide-content .slide-cont {
    height: 100%;
    width: 70%;
    color: white;
    position: absolute;
    opacity: 0;
}

.slide-cont:first-child {
    opacity: 1;
}

.slideshow .slide-body .slide-content .slide-cont p {
    font-size: 14px;
    padding-left: 10px;
    margin: 0;
    line-height: 50px;
}

.slideshow .slide-body .slide-content ul {
    height: 50px;
    width: auto;
    margin: 0;
    padding: 0;
    border-left: 1px solid rgb(77, 77, 83);
    right: 0%;
    position: absolute;
    text-align: center;
}

.control-box {
    list-style: none outside none;
    display: block;
    width: 20px;
    height: 20px;
    margin: 15px 5px;
    float: right;
    background-color: rgb(77, 77, 83);
    border-radius: 50px;
    cursor:pointer;
}

.slideshow .slide-body .slide-content ul .focus {
    background-color: #fc7702;
}